SportsStore/bin/Debug/netcoreapp2.2/SportsStore.runtimeconfig.json
SportsStore/bin/Debug/netcoreapp2.2/SportsStore.runtimeconfig.dev.json
SportsStore/bin/Debug/netcoreapp2.2/SportsStore.pdb
SportsStore/bin/Debug/netcoreapp2.2/SportsStore.dll
SportsStore/bin/Debug/netcoreapp2.2/SportsStore.deps.json
SportsStore/bin/Debug/netcoreapp2.2/SportsStore.Views.pdb
SportsStore/bin/Debug/netcoreapp2.2/SportsStore.Views.dll
SportsStore.Tests/obj/project.assets.json
SportsStore.Tests/obj/SportsStore.Tests.csproj.nuget.g.targets
SportsStore.Tests/obj/SportsStore.Tests.csproj.nuget.g.props
SportsStore.Tests/obj/SportsStore.Tests.csproj.nuget.cache
SportsStore.Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SportsStore.Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SportsStore.Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SportsStore.Tests/obj/Debug/netcoreapp2.2/SportsStore.Tests.csprojAssemblyReference.cache
SportsStore.Tests/obj/Debug/netcoreapp2.2/SportsStore.Tests.csproj.CoreCompileInputs.cache
SportsStore.Tests/obj/Debug/netcoreapp2.2/SportsStore.Tests.assets.cache
SportsStore.Tests/obj/Debug/netcoreapp2.2/SportsStore.Tests.Program.cs
SportsStore.Tests/obj/Debug/netcoreapp2.2/SportsStore.Tests.AssemblyInfoInputs.cache
SportsStore.Tests/obj/Debug/netcoreapp2.2/SportsStore.Tests.AssemblyInfo.cs
SportsStore/obj/project.assets.json
SportsStore/obj/SportsStore.csproj.nuget.g.targets
SportsStore/obj/SportsStore.csproj.nuget.g.props
SportsStore/obj/SportsStore.csproj.nuget.cache
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.csproj.CopyComplete
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.assets.cache
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.AssemblyInfoInputs.cache
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.AssemblyInfo.cs
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.pdb
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.dll
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.csprojAssemblyReference.cache
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.csproj.FileListAbsolute.txt
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.csproj.CoreCompileInputs.cache
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.RazorCoreGenerate.cache
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.RazorAssemblyInfo.cs
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.RazorAssemblyInfo.cache
SportsStore/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SportsStore/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SportsStore/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.Views.pdb
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.Views.dll
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.TagHelpers.output.cache
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.TagHelpers.input.cache
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.RazorTargetAssemblyInfo.cs
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.RazorTargetAssemblyInfo.cache
SportsStore/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
/.vs
/SportsStore/obj
/SportsStore.Tests/bin
/SportsStore.Tests/obj
/SportsStore/wwwroot/lib/bootstrap/site
/SportsStore/wwwroot/lib/bootstrap/.github
/SportsStore/wwwroot/lib/bootstrap/build
